# Data Analytics With Pandas I

In [1]:
import pandas as pd

In [2]:
a = [10,20,30,50]
print (a)

[10, 20, 30, 50]

In [3]:
series_a = pd.Series(a)

In [4]:
series_a

0    10
1    20
2    30
3    50
dtype: int64

In [5]:
type(series_a)

pandas.core.series.Series

In [6]:
series_a[0]

10

In [7]:
series_a[1:3]

1    20
2    30
dtype: int64

In [8]:
my_index = ['mercendes','bmw','audi','vw']

In [9]:
series_a = pd.Series (a, index = my_index)
print (series_a)

mercendes    10
bmw          20
audi         30
vw           50
dtype: int64

In [10]:
series_a['bmw']

20

In [11]:
series_a['bmw':'audi']

bmw     20
audi    30
dtype: int64

In [1]:
data = pd.read_csv("C:/Users/lioul/Downloads/tips.csv")

NameError: name 'pd' is not defined

In [14]:
### ΠΟΣΕΣ ΓΡΑΜΜΕΣ ΚΑΙ ΠΟΣΕΣ ΣΤΗΛΕΣ ΕΧΕΙ ΤΟ ΑΡΧΕΙΟ

data.shape

(244, 7)

In [15]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [16]:
data.iloc[200,4]

'Thur'

In [21]:
data.loc[10,['tip','sex']]

tip    1.71
sex    Male
Name: 10, dtype: object

In [23]:
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [25]:
data['tip'].describe()

count    244.000000
mean       2.998279
std        1.383638
min        1.000000
25%        2.000000
50%        2.900000
75%        3.562500
max       10.000000
Name: tip, dtype: float64

In [26]:
### ΑΝ ΘΕΛΩ ΝΑ ΔΗΜΙΟΥΡΓΗΣΩ ΜΕΤΑΒΛΗΤΗ

data['total_per_person'] = data['total_bill']/data['size']

In [27]:
data.head()

   total_bill   tip     sex smoker  day    time  size  total_per_person
0       16.99  1.01  Female     No  Sun  Dinner     2          8.495000
1       10.34  1.66    Male     No  Sun  Dinner     3          3.446667
2       21.01  3.50    Male     No  Sun  Dinner     3          7.003333
3       23.68  3.31    Male     No  Sun  Dinner     2         11.840000
4       24.59  3.61  Female     No  Sun  Dinner     4          6.147500

In [28]:
### ΑΝ ΘΕΛΩ ΝΑ ΑΛΛΑΞΩ ΤΟ ΟΝΟΜΑ ΤΗΣ ΜΕΤΑΒΛΗΤΗΣ 

data.rename(columns = {'total_bill' : 'bill' }, inplace = True)

### IN CLASS EXERCISES

####  1. Import Pandas library

In [38]:
import pandas as pd

#### 2. Open the csv file with Pandas

In [39]:
data = pd.read_csv('C:/Users/lioul/Downloads/car_insurance.csv')

#### 5.What is the shape of the dataframe?

In [33]:
data.shape

(58578, 11)

In [58]:
data.head()

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,fuel_type,max_power,transmission_type,gross_weight,ncap_rating
0,ID00001,0.515874,5.0,45,C1,4990,CNG,40,Manual,1185,0
1,ID00002,0.672619,2.0,26,C2,27003,CNG,40,Manual,1185,0
2,ID00003,0.841110,2.0,27,C3,4076,CNG,40,Manual,1185,0
3,ID00004,0.900277,11.0,30,C4,21622,Petrol,88,Automatic,1335,2
4,ID00005,0.596403,11.0,45,C5,34738,Petrol,67,Automatic,1155,2

#### 6. What are the column data types?

In [41]:
data.columns

Index(['policy_id', 'policy_tenure', 'age_of_car', 'age_of_policyholder',
       'area_cluster', 'population_density', 'fuel_type', 'max_power',
       'transmission_type', 'gross_weight', 'ncap_rating'],
      dtype='object')

In [35]:
data

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,fuel_type,max_power,transmission_type,gross_weight,ncap_rating
0,ID00001,0.515874,5.0,45,C1,4990,CNG,40,Manual,1185,0
1,ID00002,0.672619,2.0,26,C2,27003,CNG,40,Manual,1185,0
2,ID00003,0.841110,2.0,27,C3,4076,CNG,40,Manual,1185,0
3,ID00004,0.900277,11.0,30,C4,21622,Petrol,88,Automatic,1335,2
4,ID00005,0.596403,11.0,45,C5,34738,Petrol,67,Automatic,1155,2
...,...,...,...,...,...,...,...,...,...,...,...
58573,ID58588,0.355089,13.0,45,C8,8794,Petrol,67,Automatic,1155,2
58574,ID58589,1.199642,2.0,36,C14,7788,CNG,40,Manual,1185,0
58575,ID58590,1.162273,5.0,32,C5,34738,CNG,40,Manual,1185,0
58576,ID58591,1.236307,14.0,39,C8,8794,Petrol,88,Manual,1335,2
58577,ID58592,0.124429,2.0,31,C8,8794,Diesel,113,Automatic,1720,3

In [52]:
data.describe()

,policy_tenure,age_of_car,age_of_policyholder,population_density,max_power,gross_weight,ncap_rating
count,58578.000000,58578.000000,58578.000000,58578.000000,58578.000000,58578.000000,58578.000000
mean,0.611171,6.928830,32.816091,18829.204223,78.486206,1385.248711,1.759859
std,0.414156,5.593719,8.741687,17661.269782,27.673487,212.418667,1.389646
min,0.002735,0.000000,20.000000,290.000000,40.000000,1051.000000,0.000000
25%,0.210141,2.000000,25.000000,6112.000000,40.000000,1185.000000,0.000000
50%,0.573736,6.000000,32.000000,8794.000000,88.000000,1335.000000,2.000000
75%,1.039072,11.000000,38.000000,27003.000000,97.000000,1510.000000,3.000000
max,1.396641,39.000000,71.000000,73430.000000,118.000000,1720.000000,5.000000

#### 7.How old are the oldest cars in the dataset?

In [37]:

data['age_of_policyholder'].describe()

count    58578.000000
mean        32.816091
std          8.741687
min         20.000000
25%         25.000000
50%         32.000000
75%         38.000000
max         71.000000
Name: age_of_policyholder, dtype: float64

#### 8.What is the youngest age of the policyholders?

In [51]:
data['age_of_policyholder'].describe()

count    58578.000000
mean        32.816091
std          8.741687
min         20.000000
25%         25.000000
50%         32.000000
75%         38.000000
max         71.000000
Name: age_of_policyholder, dtype: float64

In [56]:
data.loc[0,['fuel_type','max_power']]

fuel_type    CNG
max_power     40
Name: 0, dtype: object